<?xml version="1.0"?>
<McConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApplicationName>华宝冷藏库库管理系统</ApplicationName>
  <ProcessConfigs>
    <ProcessConfig>
      <AppName>存储过程</AppName>
      <AppPath>..\..\WCS.ExcuteJob\CurrentVersion\WCS.ExcuteJob.exe</AppPath>
      <RunMode>AlwaysRun</RunMode>
      <IsShow>true</IsShow>
      <AppStatus>Closed</AppStatus>
      <DoCommand>DoClose</DoCommand>
    </ProcessConfig>
    <ProcessConfig>
      <AppName>1#堆垛机</AppName>
      <AppPath>..\..\IECSC.CRN01\CurrentVersion\IECSC.CRN.SINGLE.exe</AppPath>
      <RunMode>AlwaysRun</RunMode>
      <IsShow>true</IsShow>
      <AppStatus>Closed</AppStatus>
      <DoCommand>DoClose</DoCommand>
    </ProcessConfig>
    <ProcessConfig>
      <AppName>输送线</AppName>
      <AppPath>..\..\IECSC.TRANS.A\CurrentVersion\IECSC.Trans.exe</AppPath>
      <RunMode>AlwaysRun</RunMode>
      <IsShow>true</IsShow>
      <AppStatus>Closed</AppStatus>
      <DoCommand>DoClose</DoCommand>
    </ProcessConfig>
  </ProcessConfigs>
</McConfig>