<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogConfig>
    <!--以配置文件目录为准-->
    <add key="LogAssembly" value="..\log4net\log4net.dll"/>
    <add key="AssemblyConfig" value="..\log4net\log4net.config"/>

    <add key="FrameIndex" value="0"/>
    <add key="IsLogStackTrace" value="false"/>
  </LogConfig>
</configuration>